* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1180px; /* maximo ancho del body */
    margin: 0 auto; /* centrar 0 arriba y auto de costado */
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.home__arrow__top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 3rem;
    
}

.home__arrow__top i:hover {
    color: salmon;

}

/* img {
    width: 100%;
} */