header {
  width: 100%;
}

.header__logo {
  border-radius: 50%;
  border: solid 1px var(--colorGrisClaro); /* borde solido, grosor 1 px,  */
  width: 180px;
  height: 180px;
  background-image: url("/images/logo.jpg");
  background-position: center;
  background-size: cover;
  margin: 15px auto 30px;
}

.header__burger {
width: 50px;
padding: 5px; 
font-size: 32px;
background-color: var(--colorGrisOscuro);
color: white;
border: none;
border-radius: 5px;
margin: 0 auto 30px;
display: block;
} 

.header__menu li {
width: 100%;
background-color: var(--colorGrisOscuro);
text-transform: uppercase; /* mayuscula a */
text-align: center; /* centro las a */
padding: 10px 0;  /* margen a las li */
border-bottom: solid 2px white; /* borde inferiorde cada li */
}


/* Tablet */
@media (min-width : 460px){

.header__burger {
  display: none;
} 

.header__menu ul{
  overflow: hidden; /* darle un limite al float */
}

.header__menu li {
  width: 15.5%;
  font-size: 0.6rem; /* medidas relativas */
  float: left;
  margin-right: 1.4%;
}

.header__menu li:last-child{ /* sacar el margen al ultimo elemento "last-child" */
  margin-right: 0;
}
}


/* Laptop */
@media (min-width : 768px){

.header__menu li {
  font-size: 1rem; /* medidas relativas */
}

}