@keyframes rotacion{
  0%{
    /* -webkit-transform: rotate3d(0,0,1,0deg); */
    transform: rotate3d(0,0,1,0deg);
  }
  25%{
    /* -webkit-transform: rotate3d(0,0,1,90deg); */
    transform: rotate3d(0,0,1,90deg);
  }
  50%{
    /* -webkit-transform: rotate3d(0,0,1,180deg); */
    transform: rotate3d(0,0,1,180deg);
  }
  75%{
   /*  -webkit-transform: rotate3d(0,0,1,270deg); */
    transform: rotate3d(0,0,1,270deg);
  }
  100%{
    /* -webkit-transform: rotate3d(0,0,1,360deg); */
    transform: rotate3d(0,0,1,360deg);
  }
  

}


header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__logo {
    border-radius: 50%;
    border: solid 1px var(--colorGrisClaro); /* borde solido, grosor 1 px,  */
    width: 180px;
    height: 180px;
    margin: 30px 0;
    animation: rotacion 5s normal  linear infinite;
}



.header__burger {
  background-color: var(--colorGrisOscuro);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 32px;
  padding: 5px; 
  width: 50px;
  margin-bottom: 30px;
 
} 

.header__menu {

  width: 100%;
}

/* boton */
.header__menu input {
  display: none;
}

.header__menu input:checked ~ ul{
  display: flex;
}

.header__menu label {
  display: block; 
  background-color: var(--colorGrisOscuro);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding: 10px 10px 14px 10px; 
  width: 50px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu ul {
  display: none;
  flex-direction: column;
}

.header__menu li {
  background-color: var(--colorGrisOscuro);
  text-transform: uppercase; /* mayuscula a */
  text-align: center; /* centro las a */
  padding: 10px 0;  /* margen a las li */
  border-bottom: solid 2px white; /* borde inferiorde cada li */
}

.header__menu li:hover {
  transition: all 0.5s;
  background-color: salmon;
}


/* Tablet */
@media (min-width : 460px){

  .header__menu input:checked ~ ul{
    display: flex;
  }

  .header__menu label {
    display: none;
  } 

  .header__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .header__menu li {
    font-size: 0.6rem; /* medidas relativas */
    width: 15.5%;
  }



/* Laptop */
@media (min-width : 768px){

  .header__menu li {
    font-size: 1rem; /* medidas relativas */
  }
}

}